body{
    text-align:center;
    background:#ffebab;
}

.content {
    display:inline-block;
    width:100%;
    min-width:640px;
    margin:auto;
}

.content-slider {
    position:relative;
    width:100%;
    min-width:300px;
    margin-top:25px;
    background:#d8abff;
    margin-left:0;
    margin-right:0;

    height:25vw;
    min-height:150px;
}

.container{
    height:100%;
    margin:0;
    padding:0;
    border:0;
    vertical-align: top;
}

.text-container{
    overflow:hidden;
    text-overflow:ellipsis;
}

.right-image-container{
    float:right;
}

.left-image-container{
    float:left;
}

.slide-from-left {
    transform: translateX(-100%);
    animation: slide 1s ease forwards;
  }

.slide-from-right {
    transform: translateX(100%);
    animation: slide 1s ease forwards;
}


.hidden {
    visibility:hidden;
}

@keyframes slide {
to { transform: translateX(0); }
}

img {
height:100%;
}

@media only screen and (max-device-width: 480px) {
    .content{
        min-width:0px;
    }
    .content-slider {
        height:auto;
        min-width:0px;        
        min-height:0;
    }
            
    .right-image-container{
        float:none;
    }
    
    .left-image-container{
        float:none;
    }

    img{
        width:100%;
    }
}